h2 {
    text-align: center;
}

.nav {
    width: 170px;
    height: 1310px;
    left: 225px;
    top: 87px;
    background: #BDBDBD;
}

.navBtn {
    width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-left: 35px;
    background: #4B51EF;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #FFFFFF;
}