.profileHeader {
    display: inline-block;
    text-align: left;
}

.profileBtn {
    margin-top: 26px;
    margin-left: 350px;
    position: absolute;
    width: 120px;
    height: 30px;
    background: #4B51EF;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}